<header>
    <div class="header-left">
        <h1 class="brand-name">NutriScan</h1>
    </div>
    <div class="header-right">
        <!-- Profile Image -->
        <a href="/profile">
            <img src="/images/profile.png" alt="Profile" class="profile-img">
        </a>
    </div>
</header>